body{
  background-color: rgb(73, 102, 176);
<<<<<<< HEAD
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  

=======
>>>>>>> 0325d6e351d0f8afd8141d3e15c954cbd6afbdcf
}